.skeleton-card {
  width: 100%;
}

.skeleton-img {
  height: 260px;
  background: #eee;
}

.skeleton-text {
  height: 14px;
  margin-top: 10px;
  background: #eee;
}

.skeleton-text.small {
  width: 60%;
}

.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  100% {
    left: 150%;
  }
}
